body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f03800);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar */
.navbar-nav li a{
  font-size: 20px;
}
.navbar-brand{
  letter-spacing: 3px;
}

.top{
  box-shadow: 0 4px 14px rgba(22, 22, 22, 0.2);
}

.fundo{
  background: #FFFFFF;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding: 30px;
  box-shadow: 0 4px 14px rgba(36, 35, 35, 0.2);
}

.imgIcon{
  width: 40px;
  height: 40px;
  margin: 8px;
}

.imgTotal{
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
  
}

.controle{
  justify-content: center;
}


/* Card */
.card{
  transition: all 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(187, 59, 0, 0.5);
}
.img-card{
  width: 260px;
  height: 300px;
  text-align: center;
  
}

.tudo{
  justify-content: center;
  align-items: center;
}

/* Product */
.product img {
  transition: all 0.5s ease;
  
}
.product img:hover{
  transform: scale(1.1);
}

.carousel-inner{
  margin-top: 30px;
}


